.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 740px;
}

.repo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 10px 20px;
  margin-bottom: 20px;

  border: 1px solid #000;

  transition: border-color 0.2s ease-in-out;

  text-decoration: none;

  color: #000;

  &:hover {
    border-color: green;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.repo-info {
  display: flex;
  flex-direction: column;
}
